//Changed stylings for mobile screen
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
    height: 270px; 
    padding: 3px 28px;
}

#home::before{
    height: 380px; 
}

#home p{
    font-size: 13px;
}

#services{
    flex-direction: column-reverse;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 65px;
    padding: 6px;
    height: auto;
}

#contact-box form{
    width:80%;
}
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
