//Overall styling
*{
    margin:0;
    padding:0;
}
:root{
    --navbar-height:59px;
}
//Navigation bar styling
#navbar{
    display:flex;
    align-items: center;
}
#logo{
size: 0ex;
}
#logo img{
    height:70px;
    margin:13px 13px;
}
#navbar::before{
    content:"";
    background-color:grey;
    position:absolute;
    height:100%;width:100%;
    z-index:-1;
    opacity: 0.43;
}
#navbar ul li{
    display: inline-block;
    list-style: none;font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display:inline-block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color:white;
}
//Home section styling
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('dinner.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:#e30008;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: royalblue;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
Services Section Styling
#services-container
{
    text-align: center;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 22px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
} 
//Client Section styling
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}
#client-section h1
{
text-align: center;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

#clients img{
    height: 130px;width: 200px;
}
//Contact section styling
#contact{
    position: relative;
}
#contact h1
{
text-align: center;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('pizza.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
